name: release
on:
  push:
    branches: [ main ]
jobs:
  release:
    runs-on: ubuntu-22.04
    steps:

      # - name: manual
      #   run: |
      #     git clone https://github.com/jesec/rtorrent
      #     cd rtorrent
      #     git checkout v0.9.8-r15
      #     sed -i 's/python2/pythonispython3/g' Dockerfile
      #     docker build --no-cache -t loeken/testing .

      - name: Check out my other private repo
        uses: actions/checkout@master
        with:
          fetch-depth: 0
          repository: jesec/rtorrent
          ref: v0.9.8-r15
          path: rtorrent

      - name: patch dockerfile
        run: sed -i 's/python2/pythonispython3/g' rtorrent/Dockerfile
      - name: ls
        run: cat rtorrent/Dockerfile
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: loeken/rtorrent:v0.9.8-r15
          context: ./rtorrent
          no-cache: true