name: release
on:
  push:
    branches: [ main ]
jobs:
  release:
    runs-on: ubuntu-latest
    steps:

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: check out rtorrent
        uses: actions/checkout@master
        with:
          repository: jesec/rtorrent
          ref: refs/tags/v0.9.8-r15

      - name: patch dockerfile
        run: |
          git clone https://github.com/jesec/rtorrent
          cd rtorrent
          sed -i 's/python2/pythonispython3/g' Dockerfile
          docker build -t loeken/rtorrent:testing .